body{
    background-image: url(/img/fondo-arte-digital-japon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.wrap-imagen-titulo{
    background-color: rgba(240, 248, 255, 90%);
    height: 140px;

}
.wrap-texto-color{
    color: aliceblue;
}

.wrap-texto{
    text-align: left;
    width: 50%;
}
.wrap-enlaces{
    color: aliceblue;
}