body{
    background-image: url(/img/fondo-arte-digital-japon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.wrap-imagen-titulo{
    background-color: rgba(240, 248, 255, 90%);
    height: 140px;

}
.wrap-texto{
    color: aliceblue;
}
#app{
    height: 140px;
    width: 115px;
    border: 12px solid black;
    border-radius: 5px;
}
#app form{
    height: 100%;
    width: 100%;
    background-color: darkgrey;
}

#app input[type=textfield] {
    height: 25%;
    width: 83%;
}
.wrap-enlaces{
    color: aliceblue;
}